<div class="card text-white bg-secondary mb-3 ml-5" style="margin-right: 25%;">
  <div class="card-header"><h4>Edit Profile</h4></div>
  <div class="card-body">
    <fieldset class="form-group">
      <label>Username:</label>
      <input class="form-control" [(ngModel)]="user.username">
    </fieldset>
    <fieldset class="form-group">
      <label>Email:</label>
      <input class="form-control" [(ngModel)]="user.email">
    </fieldset>
    <button type="button" class="btn btn-success" style="margin-top: 10px;" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-danger" style="margin-top: 10px;" (click)="cancel()">Cancel</button>
  </div>
</div>
